GITHUB_APP_ID=123456
GITHUB_APP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace-with-your-private-key\n-----END PRIVATE KEY-----"
GITHUB_APP_CLIENT_ID=

SCAN_HISTORY_DATABASE_URL=sqlite:.data/scans.sqlite
